/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 nov. 2019, 2:20:41
    Author     : franciscoantonio
*/

h1{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    border-bottom: solid burlywood;
}